@font-face {
    font-family: playfair;
    src: url("media/PlayfairDisplay-VariableFont_wght.ttf");
}

body {
    font-family: playfair, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#about {
    display: flex;
    justify-content: center;
    padding: 3% 0 3% 0;
    background-image: linear-gradient(150deg,rgb(9,143,175) 0 50%, white 50% 100%);
}

#about-image {
    background: url(media/about.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 48px;
    flex: 1;
    min-height: 700px;
    max-width: 700px; 
}

#about-image > p {
    margin: 0;
}

#about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4px;
    font-size: 20px;
    background-color: white;
    flex: 0.5;
    max-width: 700px; 
    min-height: 500px;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 8px;
}

#about-content > p {
    color: gray;
}

#about-content > * {
    padding: 8px;
    margin: 0;
}

#about-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;
}

#about-buttons > img:hover {
    transition: transform, ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

#work {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 1410px;
}

#work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(204, 194, 194, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: center;
}

#project-content {
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px;
    flex: 0.6;
}

#project-content > p {
    color: grey
}

#project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.4;
    padding: 4px;
}

#project-buttons {
    display: flex;
    gap: 12px;
}

#project-buttons > img:hover {
    transform: scale(1.2);
    transition: transform ease-in-out;
    cursor: pointer;
}

#contact {
    background-color: rgb(9, 143, 175);
    color: white; 
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-info {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    max-width: 610px;
    justify-content: start;
    font-size: 20px;
    gap: 24px;
}

#contact-info > * {
    margin: 0;
    padding: 0;
}
 
#contact-mail, #contact-phone {
    display: flex;
    gap: 8px;
    align-items: center;
}

#contact-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}

#twitter {
    background-color: white;
    padding: 2px;
    border-radius: 2px;
}

#contact-buttons > img:hover {
    transition: transform, ease-in;
    transform: scale(1.2);
}

#contact-image {
    background: url(media/contact.jpg);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    min-width: 800px;
    margin: 48px 0 48px 0;
}

@media (max-width: 480px) {
    #about {
        flex-direction: column;
        background-image: linear-gradient(225deg, rgb(9, 143, 175) 0 50%, white 50% 100%);
    }
    #about-image {
        min-height: 450px;
        width: 70%;
        font-size: 24px;
        align-self: center; 
    }
    #about-content {
        box-shadow: none;
        width: 80%;
    }
    #about-content > h1{
        text-align: center;
    }
    #about-buttons {
        justify-content: center;
        gap: 24px;
    }

    #work > h1 {
        align-self: center;
    }

    #work-container {
        justify-content: center;
        align-items: center;
    }

}