@font-face {
    font-family: playfair;
    src: url("media/PlayfairDisplay-VariableFont_wght.ttf");
}

body {
    font-family: playfair, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#about {
    display: flex;
    justify-content: center;
    padding: 5% 3% 0 3%;
    padding-bottom: 36px;
    background-image: linear-gradient(110deg,rgb(9,143,175) 0 50%, white 50% 100%);
}

#about-image {
    background: url(media/about.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 48px;
    flex: 1;
    min-height: 500px;
    max-width: 700px;
}

#about-image > p {
    margin: 0;
}

#about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    background-color: white;
    flex: 0.5;
    height: min-content;
    max-width: 700px;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about-content > * {
    padding: 8px;
    margin: 0;
}

#about-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;
}

#about-buttons > img:hover {
    transition: transform, ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

#work {
    padding-left: 3%;
}

#work-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    gap: 36px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#project-image {
    min-height: 250px;
    min-width: auto;
    color: white;
    font-size: 36px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.4;
    padding: 2px;
}

#project-buttons > img:hover {
    transform: scale(1.2);
    transition: transform ease-in-out;
    cursor: pointer;
}